*{
    margin: 0;
}
.fundo{
    background-color: grey ;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    margin: 0px;
  
  }
  .header {
    padding: 15px;
    border-bottom: 2px solid #ffffff;
    background-color: black;
}

.container {
    margin: 0 auto;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    color: #32b9cd;
    font-weight: 900;

}

ul {
    display: flex;
    width: 350px;
    justify-content: space-between;
    list-style: none;
    padding: 5px 0;
    margin: 25px;
}

li {
    color: #ffffff;

}
.navbar{
    display: flex;
    flex-direction: row;
}

.container1 {
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
}


.caixa-formulario {

    padding: 20px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #c0c0c0;
    padding: 10px 10px;
    margin: 40px 20px;
    height: 100px;
    width: 300px;
}

.partida{
    margin-top: 20px;
    height: 350px;
    width: 700px;
    background-color: #c0c0c0
}
.resul{
    display: flex;
    justify-content: center;
}
.nota{
    padding-left: 25px;
}
