*{
    margin: 0;
}
.fundo{
    background-image: url(./imagens/Beige\ Olive\ Green\ Company\ Fresh\ and\ Friendly\ Company\ Website.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    margin: 0px;
  
  }
  .header {
    padding: 15px;
    border-bottom: 2px solid #ffffff;
    background-color: black;
}

.container {
    margin: 0 auto;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    color: #32b9cd;
    font-weight: 900;

}

ul {
    display: flex;
    width: 350px;
    justify-content: space-between;
    list-style: none;
    padding: 5px 0;
    margin: 25px;
}

li {
    color: #ffffff;

}
.navbar{
    display: flex;
    flex-direction: row;
}
.container1 {
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
    /* background-color: #edf0ece3;
    margin: 10px 400px;
    border-radius: 20px;  */
}


.caixa-formulario {

    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: grey;
    padding: 10px 10px;
    margin: 10px 275px;
    box-shadow: 0 7px 10px black;
}

.caixa-formulario h1 {
    color: black;
    margin-bottom: 0px;
}
.caixa1{
    
    padding: 50px 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    
}
.caixa1 h1{
    color: black;
    margin-bottom: 0px;
}
.caixa2{
    
    padding: 50px 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}
.campo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.campo input {
    padding: 10px;
    border: 1px solid black;
    color: black;
}
.campo select{
    padding: 10px 20px;
    border: 1px solid black;
    color: black;
}

.campo label {
    color: #000000;
    font-family: sans-serif;
    margin: 15px 0px;
}

.caixa-formulario button {
    margin-top: 10px;
    width: 120px;
    background-color: black;
    color: #ffffff;
    padding: 10px;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    cursor: pointer;

}
.caixas{
    display: flex;
    flex-direction: row;
}

.container1{
    display: flex;
    flex-direction: row;
}

.pele{
    display: flex;
    margin: 20px;
    padding: 10px 20px;
}