*{
    margin: 0;
}
.fundo{
    background-image: url(./imagens/Beige\ Olive\ Green\ Company\ Fresh\ and\ Friendly\ Company\ Website.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    margin: 0px;
  
  }
  .header {
    padding: 15px;
    border-bottom: 2px solid #ffffff;
    background-color: black;
}

.container {
    margin: 0 auto;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    color: #32b9cd;
    font-weight: 900;

}

ul {
    display: flex;
    width: 350px;
    justify-content: space-between;
    list-style: none;
    padding: 5px 0;
    margin: 25px;
}

li {
    color: #ffffff;

}
.navbar{
    display: flex;
    flex-direction: row;
}

.container1 {
    padding: 70px ;
    height: 00px;
    display: flex;
    flex-direction: row;
}
p{
    color: #ffffff;
}
b{
    color: #ffffff;
}