*{
    margin: 0;
}
.fundo{
    background-color: #c0c0c0;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    margin: 0px;
  
  }
  .header {
    padding: 15px;
    border-bottom: 2px solid #ffffff;
    background-color: black;
}

.container {
    margin: 0 auto;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #32b9cd;
    font-weight: 900;

}

.header ul {
    display: flex;
    width: 350px;
    justify-content: space-between;
    list-style: none;
    padding: 5px 0;
    margin: 25px;
}

.header li {
    color: #ffffff;

}
.header li a{
    color: #e1e1e1 ;
    cursor: pointer;
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
}
.navbar{
    display: flex;
    flex-direction: row;
}

.container1 {
    height: 100%;
    display: flex;
    flex-direction: row;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #c0c0c0;
    font-family: Arial, Helvetica, sans-serif;
    border-left: 25px solid black;
    border-right: 25px solid black;    
}
.texto{
    height: 50%;
    width: 50%;
    margin-top: 12.5%;
    margin-left: 50px;
    text-align: justify;
    
}

.texto h1{
    display: flex;
    justify-content: center;
    color: black;
}

.texto p{
    display: flex;
    margin-top: 20px;
}
.imagem{
    height: 50%;
    width: 50%;
    margin-left: 50px;
    margin-top: 13%;
}
.container2 {
    height: 100%;
    display: flex;
    flex-direction: row;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #c0c0c0;
    font-family: Arial, Helvetica, sans-serif;
    border-left: 25px solid black;
    border-right: 25px solid black;
}

.texto2{
    height: 50%;
    width: 50%;
    margin-top: 12.5%;
    margin-left: 0px;
    margin-right: 50px;
    text-align: justify;

}

.texto2 h1{
    display: flex;
    justify-content: center;
    color: black;
}

.texto2 p{
    display: flex;
    margin-top: 20px;
}

.imagem2{
    height: 50%;
    width: 50%;
    margin-left: 50px;
    margin-top: 13%;
}

.eventos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    padding-top: 10px;
    background-color: grey;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.eventos2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    padding-top: 10px;
    background-color: grey;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding-bottom: 10px;
}

.container0 ul{
    display: flex;
    list-style: none;
}

.container0 li {
    color: #e1e1e1 ;
    cursor: pointer;
    text-decoration: none;
    color: white;
    padding: 0px 20px;
    border-radius: 20px;
}

.container0 li{
    color: black;
}

.container0 a{
    color: #e1e1e1 ;
    cursor: pointer;
    text-decoration: none;
    color: white;
}

#decada10{
    display: flex;
    flex-direction: row;
}

#decada20{
    display: flex;
    flex-direction: row;
}

#decada30{
    display: flex;
    flex-direction: row;
}

#decada40{
    display: flex;
    flex-direction: row;
}

#decada50{
    display: flex;
    flex-direction: row;
}

#decada60{
    display: flex;
    flex-direction: row;
}

#decada70{
    display: flex;
    flex-direction: row;
}

#guerra{
    display: flex;
    flex-direction: row;
}

#decada80{
    display: flex;
    flex-direction: row;
}

#decada90-1{
    display: flex;
    flex-direction: row;
}

#ano1995{
    display: flex;
    flex-direction: row;
}

#decada90-2{
    display: flex;
    flex-direction: row;
}

#anos2000-1{
    display: flex;
    flex-direction: row;
}

#ano2002{
    display: flex;
    flex-direction: row;
}

#ida{
    display: flex;
    flex-direction: row;
}

#volta{
    display: flex;
    flex-direction: row;
}

#anos2000-2{
    display: flex;
    flex-direction: row;
}